<%= form_for(shallow_args(@team,@message)) do |f| %>
  <% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

    <ul>
      <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


    <!--
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        投稿するチーム
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <% Team.all.each do |teams|  %>
        <li><a href="#" data-value="teams.name"><%= teams.name %></a></li>
      </ul>
      <% end %>
      <input type="hidden" name="dropdown-value" value="">
    </div>
  -->
   <%= f.hidden_field :team_id %>

  <div class="field">
    ユーザー：
    <%= current_user.email %>
  </div>
  <div class="field">

    タグ<br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    本文<br>
    <%= f.text_area :body,:size=>"60x15" %>
  </div>
  <!--
  <div class="form-group">
    <input type="file" id="exampleInputFile">

  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
