<!DOCTYPE html>
<html>
<head>
  <title>Nemotter</title>
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
  <div class="logout">
    アカウント名（仮) | ログアウト
  </div>
  <div class="page-header">
      <img alt="nemotter" height="100" width="350" src="/assets/logo.png" />
  </div>

  <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
          <!---  <li role="presentation" class="active"><a href="#">Home</a></li>
             <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li> -->
             <% Team.all.each do |teams| %>
             <li role="presentation" class="active"><%= link_to teams.name,teams %></li>

             <% end %>
</ul>

        </div>
        <div class="col-md-9">
           <%= yield %>
        </div>
    </div>



  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
